
.notes-container {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;

  .note-row {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .row {
    display: flex;
    // flex-flow: right wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .col {
    width: 50%;
    padding: 1rem;

    .field-label, .tag-label {
      font-weight: bold;
    }

    .field-content, .tag-content {
      margin: 5px 0 0 0;
      padding: 5px;

      &:hover {
        border: 1px solid #ddd;
        transition: 0.3s;
      }

      &:active {
        border: 1px solid #999;
      }

      img {
        max-width: 100%;
      }
    }

    button.note-delete {
      background-color: #f44336;
      color: white;
      transition: 0.3s;

      &:hover {
        background-color: #c82333;
      }

      &:active {
        background-color: #a71e2c;
      }
    }

    button.card-flipper {
      background-color: #eee;
      transition: 0.3s;

      &:hover {
        background-color: #ccc;
      }

      &:active {
        background-color: #888;
      }
    }
  }
}

.note-info {
  position: relative;
  display: inline-block;

  .cardtypes-dropdown, .decks-dropdown {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1.5rem;
    padding: 0;
    font-size: 0.8rem;
    list-style-type: none;
    
    li {
      padding: 0.3rem;
      padding-left: 16px;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .cardtypes-dropdown {
    left: 0;
  }

  .decks-dropdown {
    right: 0;
  }
}

.note-inserter {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0;
    padding: 0;
    font-size: 0.8rem;

    li {
      list-style-type: none;
      padding: 0.3rem;
      padding-left: 16px;
      margin: 0;
    }
  }

  &:hover .dropdown-content {
    display: block;

    li:hover {
      background-color: #ddd;
    }
  }
}

.carousel {
  .slide {
    background-color: transparent !important;
    margin: 0 0 30px 0 !important;
  }
}