[contenteditable] {
  outline: 0px solid transparent;
  border: 1px solid #eee;
  border-radius: 5px;
}

button {
  background: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  transition: 0.3s;

  &:hover {
    background: #ddd;
  }

  &:active {
    background: #999;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto 0 auto;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    img {
      display: inline-block;
      flex: 1;
    }

    h1 {
      display: inline-block;
      flex: 9;
    }
  }
}

.deck-list {
  flex-basis: 20rem;
  flex-grow: 1;
  padding: 0 2rem 0 0;

  ul {
    list-style-type: none;
    padding-left: 1rem;

    li {
      display: flex;
      align-items: center;

      .deck-details {
        display: inline-flex;
        justify-content: space-between;
        padding: 0.3rem;
        flex: 19;

        &:hover {
          background-color: #ddd;
          text-decoration: underline;
          transition: 0.3s;
        }

        &:active, &:focus {
          background-color: #999;
          text-decoration: underline;
        }
      }

      button.show-children {
        flex: 1;
        height: 25px;
        width: 25px;

        &:hover {
          background: #ddd;
        }

        &:active {
          background: #999;
        }
      }

    }
  }
}

.note-container {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;

  .row {
    display: flex;
    flex-flow: right wrap;
    flex-direction: row;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .col {
    width: 50%;
    padding: 1rem;

    .field-label, .tag-label {
      font-weight: bold;
    }

    .field-content, .tag-content {
      margin: 5px 0 0 0;
      padding: 5px;

      &:hover {
        border: 1px solid #ddd;
        transition: 0.3s;
      }

      &:active {
        border: 1px solid #999;
      }

      img {
        max-width: 100%;
      }
    }

    button.note-delete {
      background-color: #f44336;
      color: white;
      transition: 0.3s;

      &:hover {
        background-color: #c82333;
      }

      &:active {
        background-color: #a71e2c;
      }
    }

    button.card-flipper {
      background-color: #eee;
      transition: 0.3s;

      &:hover {
        background-color: #ccc;
      }

      &:active {
        background-color: #888;
      }
    }
  }
}

.carousel {
  .slide {
    background-color: transparent;
    margin: 0 0 30px 0;
  }
}